.root {
    // background-image: url(https://thatskyshop.com/cdn/shop/files/thatskywallpaper-portrait-7_710x.jpg?v=1676418916);
    background-image: url(../../../public/background/bg-island-300.png);
    background-size: cover;
    background-position: center;
}

.wrapper {
    background: #000000AA;
    width: 80%;
    margin: 20% 10% 0 10%;
    padding: 1em 1em;
}

.questionDescription {
    min-height: 20%;
    color: linen;
    margin: 5px 0;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 1.6em;
    font-weight: bold;

    &::after {
        content: "";
        display: block;
        margin: 1em 0 .3em 0;
        height: 1px;
        width: 20%;
        background-color: linen;
    }
}

.progressBar{
    margin: 10% 5%;

}
