
.panelButton {
    color: white;
    font-size: $font-size-content;
    padding: .5em 1em;
    background-color: #000000;
    width: 30%;
    position: absolute;
    top: 80%;

    &[value="prev"] {
        border-radius: 0px 12px 12px 0px;
        left: 0;
    }

    &[value="next"],
    &[value="submit"] {
        border-radius: 12px 0px 0px 12px;
        right: 0;
    }
}