.optionButton {
    color: linen;
    width: 100%;
    background-color: black;
    margin: 3px 0;
    padding: 2px;
    border-radius: 30px;
    opacity: .5;

    &:hover {
        @extend .zoomInOut !optional;
    }

    & input[type=radio],
    & input[type=checkbox] {
        display: none;
    }

    & label {
        display: block;
        color: linen;
        font-size: 1rem;
        text-align: left;
        padding: 3px 0 3px 30px;
        border-radius: 30px;
        border: 1.5px linen solid;
        width: 100%;
    }

    &:has(input:checked) {
        @extend .zoomInOut !optional;
        padding: 0px;
        opacity: .9;

        box-shadow: 0 0 10px 1px white inset;

        & label {
            border: 3.5px white solid;
        }
    }
}